$dark-color: #4e99e4;

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: $dark-color;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: #ecf0f1;
    }
  }
}
