$primary-color: #3498db;

.navbar {
  width: 100%;
  background-color: $primary-color;
  padding: 10px 0;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  h1 {
    margin: 0;
  }
}
